@model IEnumerable<Prueba_Usuarios_ASPNETCore.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
}

<h1>Usuarios</h1>

<p>
    <a asp-action="Create">Crear Usuario</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="text" name="buscar" value="@ViewData["buscar"]" />
            <input type="submit" value="Buscar" class="btn btn-secondary" /> |
            <a asp-action="Index">Limpiar búsqueda</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>Roles</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @string.Join(", ", item.UsuarioRoles.Select(ur => ur.Rol.Nombre).ToArray())
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UsuarioId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.UsuarioId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.UsuarioId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
